@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

s {
    width: 90%;
    height: auto;
    padding: 10px;
}